:root {
    --color-face: #654736;
    --black: #000000;
    --lips: #252222;
}
.canvas {
    width: 100%;
    height: 70vh;
    margin-top: 10%;
    position: relative;
}
.face {
    position: relative;
    width: 20%;
    height: 60%;
    top: 10%;
    left: 10%;
    background-color: var(--color-face);
    border: 1vmin solid;
    border-radius: 0 0 50% 50% / 40% ;
    animation: bounce 1.5s ease-in-out infinite;
    animation-direction: alternate;
    box-sizing: border-box;
}
@keyframes bounce {
    from { transform: translateY(0px);}

    to {transform: translateY(20px);}
}

.mouth {
    position: absolute;
    width: 40%;
    height: 3.5vmin;
    background-color: var(--lips);
    top: 70%;
    left: 30%;
    transform: rotate(5deg);
    border-top: 0.6vmin solid var(--black);
    border-radius: 50%;
}

.eye {
    position: absolute;
    width: 10%;
    height: 10%;
    background-color: var(--black);
    top: 20%;
    left: 20%;
    border-radius: 100%;
}

.eye + .eye {
    left: 70%;
}

.nose {
    position: absolute;
    width: 15%;
    height: 15%;
    top: 47%;
    left: 55%;
    overflow: hidden;
}
.nose::before {
    content: "";
    position: absolute;
    width: 100%;
    border: 1vmin solid var(--black);
    height: 3vmin;
    border-radius: 50%;
    transform: rotate(-5deg);
    left: -70%;
}
.eyebrow {
    position: absolute;
    width: 25%;
    height: 2vmin;
    top: 13%;
    left: 12%;
    overflow: hidden;
    transform: rotate(5deg);
}
.eyebrow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4vmin;
    border: 0.8vmin solid var(--black);
    border-radius: 50%;
}
.eyebrow + .eyebrow {
    left: 62%;
    transform: rotate();
}
.hair {
    position: absolute;
    width: calc(100% + 2 * 1vmin);
    height: 15%;
    top: -17%;
    left: -1vmin;
    background: var(--black);
    border-radius: 70% 70% 0 0;
}
.hair-side, .hair-side2 {
    position: absolute;
    height: 0.6vmin;
    background: var(--black);
}
.hair-side {
    width: 12%;
    top: 4%;
}
.hair-side + .hair-side {
    right: 0;
}
.hair-side2 {
    width: 7%;
    top: 8%;
}  
.hair-side2 + .hair-side2 {
    right: 0;
}
.ear {
    position: absolute;
    top: 23%;
    left: -14%;
    width: 14%;
    height: 25%;
    background: var(--color-face);
    border: 0.5vmin solid var(--black);
    border-radius: 50% 35% 35% 70%;
    overflow: hidden;
}
.ear::before {
    content: "";
    position: absolute;
    width: 35%;
    height: 20%;
    border: 0.4vmin solid var(--black);
    border-radius: 50%;
    top: 35%;
    left: 60%;
}

.ear-left {
    position: absolute;
    width: 5%;
    height: 25%;
    top: 23%;
    right: -6%;
    background: var(--color-face);
    border: 0.5vmin solid var(--black);
    border-radius: 0 50% 40% 0;
}

.head-shadow {
    position: absolute;
    top: 75%;
    width: 20%;
    left: 10%;
    height: 10%;
    background: #a39e9e;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    backdrop-filter: blur(5px);
    animation: bouncing 1.5s ease-in-out infinite;
    animation-direction: alternate;
}

@keyframes bouncing {
    from {transform: scale(0.5);}

    to {transform: scale(1);}
}